page-home {
    .scroll-content{
        overflow-y: hidden;
    }
    img{
        object-fit: cover;
        height: 100%;
        width: 100%;
        position: absolute;
    }
    .opacity{
        background-image:  linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0) 100%);
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 111;
    }
    .headerHome{
        
    }
}
