page-calendar2 {
    
    ion-calendar-month .primary button.days-btn small, ion-calendar-month .primary .days .marked{
        background-color: color($colors,'primary');
        p{
            color: white;
        }
    }
    ion-calendar-month .primary .days .on-selected, ion-calendar-month .primary .startSelection button.days-btn, ion-calendar-month .primary .endSelection button.days-btn {
        background-color: color($colors,'secondary');
        color: #fff;
    }
    ion-calendar-month .primary .days .today  {
        background-color: gray;
        p{
            color: white;
        }
    }
    ion-calendar {
        padding:  0px;
        height: 50vh;
    }
    ion-calendar-month .days {
        height: 25px;
    }
    ion-calendar-month button.days-btn {
        border-radius: 30px;
        width: 25px;
        display: block;
        margin: 0 auto;
        padding: 0;
        height: 25px;
        background-color: transparent;
        position: relative;
        z-index: 2;
    }
    .main-content {
        .innerContainer {
          height: 10%;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
        //   padding-top: 15px;
        //   padding-bottom: 76px;
    
          .headerCalendar{
            height: 100%;
            width: 95%;
            z-index: 111111;
            position: relative;
            display: flex;
            justify-content: flex-end;
            // margin-right: 15px;
            align-items: center;
    
            .iconContainer{
              height: 46px;
              width: 46px;
              position: relative;
              z-index: 1;
              display: flex;
              justify-content: center;
              align-items: center;
    
              img {
                height: 20px;
                width: 20px;
              }
    
              &::after {
                content: '';
                position: absolute;
                height: 46px;
                width: 46px;
                background-color: color($colors, primary);
                top: 50%;
                left: 50%;
                border-radius: 50%;
                z-index: -1;
                margin-top: -23px;
                margin-left: -23px;
              }
            }
          }
        }
    }
}
