page-huacas {
  font-family: 'neo_sansregular';
  @keyframes opacityTrans {
    0%{
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
  }
  .scroll-content {
    overflow-y: hidden;
    margin-bottom: 0px !important;


  }

  .bgImg {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
  }

  .opacity {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 111;
  }

  .main-content {
    height: 100vh;
    width: 100vw;

    .innerTopContainer {

      height: 100%;
      width: 100%;
      //   background-color: wheat;
      position: relative;
      z-index: 1111;
      padding-bottom: 76px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .back {
        padding-top: 15px;
        height: 36px;
        width: 90%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        // font-size: 2rem;
        @include responsive-font-size(3rem);
      }

      .createContainer {
        height: 86px;
        width: 90%;
        display: flex;
        justify-content: flex-start;

        .create {
          height: 100%;
          width: 144px;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;

          .createButton {
            height: 80%;
            width: 90%;
            border-radius: 15px;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // font-size: 2rem;
            @include responsive-font-size(3rem);
            //   padding-left: 15px;
            p {
              display: flex;
              flex-direction: column;
              margin: 0px;

              span {


                &.bold {
                  font-weight: bold;
                }
              }
            }

            &.single {
              background-color: color($colors, primary);
            }

            &.shared {
              background-color: rgba(255, 255, 255, 0.3);
            }
          }
        }
      }
    }

    .innerBottomContainer {
      height: 100%;
      width: 100%;
      background-color: white;
      position: absolute;
      z-index: 11111;
      top: 0%;
      //   padding-top: 15px;
      //   padding-bottom: 76px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      transition: 400ms;
      &.active{
        top: 100%;
      }

      .huacaHeader {
        padding-top: 15px;
        align-self: flex-start;
        justify-self: flex-start;
        height: 12%;
        width: 97.5%;
        // background-color: aquamarine;
        z-index: 111111;
        position: relative;
        display: flex;
        justify-content: flex-end;
        // margin-right: 15px;
        align-items: flex-start;

        .title {
          width: calc(100% - 46px);
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
          padding-left: 30px;

          .amount {
            font-size: 2rem;
          }
        }

        .huacaAdd {
          height: 46px;
          width: 46px;
          position: relative;
          z-index: 1;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            height: 20px;
            width: 20px;
          }

          &::after {
            content: '';
            position: absolute;
            height: 46px;
            width: 46px;
            background-color: color($colors, primary);
            top: 50%;
            left: 50%;
            border-radius: 50%;
            z-index: -1;
            margin-top: -23px;
            margin-left: -23px;
          }
        }
      }

      .huacaGraphContainer {
        // background-color: red;
        display: flex;
        height: 38vh;
        width: 100%;
        position: absolute;
        top: 12%;

        .dona {
          height: 100%;
          width: 75%;
          display: flex;
          justify-content: center;
          align-items: center;

          .imgContainer {
            height: 30vh;
            width: 30vh;
            position: absolute;
            border-radius: 50%;
            overflow: hidden;
            border: 2px white solid;
            &.old{
              opacity: 0;
              animation: opacityTrans 300ms ease-in-out;
            }
            img {
              object-fit: cover;
              height: 100%;
              width: 100%;
            }
          }

          canvas {}
        }

        .donaLabel {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          position: relative;
          left: -10vw;
          flex-direction: column;
          width: 25%;
          height: 95%;
          pointer-events: none;
          .title {
            font-family: 'neo_sansbold';
            @include rfs(1.2rem);
          }
          span{
            @include rfs(2rem);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
            text-align: end;
          }
        }
      }

      .huacaCounterContainer {
        // background-color: violet;
        height: 12vh;
        width: 95%;
        position: absolute;
        top: calc(12% + 38vh);
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: row;

        .innerContainer {
          // background-color: white;
          height: 80%;
          width: 45%;
          border-radius: 15px;
          display: flex;
          justify-content: center;
          align-items: center;

          .number {
            width: calc(35% - 5px);
            height: 85%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 3rem;
            margin-right: 5px;

          }

          .numberLabel {
            width: 65%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.7rem;

            p {
              margin: 0px;

              .bold {
                font-weight: bold;
                font-family: 'neo_sansbold';
              }
            }

          }

          &.huacaCounter {

            background-color: #EFEFEF;
          }

          &.ahorroCounter {
            .number {
              background-color: #EFEFEF;
              border-radius: 15px;
            }

            background-color: white;
          }
        }


      }

      .thumbnailContainer {
        // height: calc(50vh - (12%));
        bottom: 0;
        position: absolute;
        top: calc(12% + 50vh);
        width: 100%;
        z-index: 11111;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #EFEFEF;
        border-radius: 15px 15px 0px 0px;
        padding-bottom: 76px;
        transition: top 400ms;
        &.active{
          top: 12%;
          .allRoundContainer{
            opacity: 0;
            pointer-events: none;
            // display: unset;
          }
          .iconContainer{
            transform: rotate(180deg);
          } 
          .huacalistContainer{
            opacity: 1;
            pointer-events: all;
          }
        }
        .allRoundContainer {
          transition: opacity 200ms;
          height: calc(100% - 36px);
          width: 100%;
          justify-content: center;
          flex-wrap: wrap-reverse;
          display: flex;
          justify-content: center;
          align-items: center;
          .roundContainer {
            position: relative;
            height: 13vw;
            width: 13vw;
            margin: 10px;
            background: cadetblue;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            img{
              object-fit: cover;
              height: 100%;
              width: 100%;
            }
            .opacityRoundContainer{
              // background-color: rgba(255,0,0,0.5);
              height: 100%;
              position: absolute;
              width: 100%;
            }
          }
        }

        .iconContainer {
          
          transition: transform 400ms;
          // padding: 15px;
          height: 36px;
          width: 36px;
          font-size: 1.8rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .huacalistContainer{
            bottom: 76px;
            height: calc(100% - 112px);
            width: 100%;
            transition: opacity 200ms;
            position:absolute;
            opacity: 0;
            pointer-events: none;
            
            ion-scroll{
              height: 100%;
              width: 100%;
              
              .scroll-content{
                height: 100%;
                width: 100%;
                .scroll-zoom-wrapper{
                  width: 100%;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: flex-start;
                }
              }
            
            .huacaElement{
              height: 20vw;
              width: 95%;
              overflow: hidden;
              display: flex;
              justify-content: space-around;
              align-items: center;
              .mainContent{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                color: #3D3D3D;
                @include rfs(1.5rem);
                .titleHuaca{
                  font-family: 'neo_sansbold';
                  color: #636363;
                }
              }
              .secondContent{
                display: flex;
                color: #3D3D3D;
                flex-direction: column;
                align-items: flex-end;
                justify-content: center;
                @include rfs(1rem);
                .amount{
                  @include rfs(1.5rem);
                  color: #777777;
                }
              }
              .iconContainerList{
                height: 15vw;
                width: 15vw;
                border-radius: 50%;
                overflow: hidden;
                img{
                  height: 100%;
                  width: 100%;
                  object-fit: cover;
                }
              }
            }
          }
        }
      }

      // ion-scroll {
      //   pointer-events: none;
      //   height: 88%;
      //   width: 100%;

      //   .scroll-content {

      //     .scroll-zoom-wrapper {
      //       height: 100%;
      //       width: 100%;
      //     }
      //   }

      //   .headerScroll {
      //     height: 50vh;
      //     width: 100%;
      //     background-color: rgba(0, 0, 0, 0);
      //     pointer-events: none;
      //   }

      //   .huacaListContainer {
      //     background-color: #EFEFEF;
      //     height: 100%;
      //     width: 100%;
      //     border-radius: 25px 25px 0px 0px;
      //   }
      // }
    }
  }
}
